.notes-container {
  /* width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; */
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 10px;
  justify-items: center;
}

.note-card {

  width: 250px;
  height: 300px;
  margin: 10px;
  overflow: hidden;
}

.matched-card {
  opacity: 0;
  /* position: absolute; */
}

.note-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.note-card img {
  /* object-fit: contain; */
  width: 100%;
  height: 100%;
}

.card {
  width: 300px;
  height: 350px;
}

.back, .front {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* .image-front {
  object-fit: c;
} */